{% extends 'base.html' %}
{% block content %}
{% load static %}
    {% for mainlogo in mainlogo %}
        <div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url({{mainlogo.main_logo.url}}) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-bottom">
                                <h2 class="bradcaump-title">About Us</h2>
                                <nav class="bradcaump-inner">
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <section class="htc__mission__area bg__gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-5 col-sm-7 col-xs-12">
                        <div class="htc__mission__container">
                            {% for about in about %}
                            <div class="single__mission">
                                <h2>{{about.about_title}}</h2>
                                <p>{{about.about_content|safe}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="htc__offer__thumb">
                <div class="htc__offer__thumb__inner">
                    <img src="images/about/1.jpg" alt="offer img">
                </div>
            </div>
        </section>

     <section class="htc__offer__area htc__offer--2 pb--120 bg__gray">
        <div class="container">
          <div class="row">
            {% for quality in qualities %}
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
              <div class="offer separator">
              <div class="offer">
                <div class="offer__icon">
                  <!-- "{% static 'images/others/icon-2/1.png' %}" -->
                  <img
                    src="{{quality.quality_logo.url}}"
                    alt="icon images"
                  />
                </div>
                <div class="offer__details">
                  <h2><a href="#">{{quality.quality_title}}</a></h2>
                  <p>
                      {{quality.quality_content|truncatewords:20}}
                  </p>
                </div>
              </div>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>

         <section
        class="htc__team__area bg__white h1__team--one ptb--150 text__pos"
      >
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="section__title text-center">
                <h2 class="title__line">
                  OUR <span class="text--theme">TEAM</span>
                </h2>
                <p>
                  On the other hand, we denounce with righteous indignation and
                  dislike men who are so beguiled and demoralized by the charms
                  of pleasure of the moment, so blinded by desire
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="htc__team__wrap clearfix mt--30">
              <!-- Start Single Team -->
              {% for profile in profile %}
              <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="team foo">
                  <div class="team__inner">
                    <div class="team__thumb">
                      <!-- "{% static 'images/team/1.jpg' %}" -->
                      <img
                        src="{{profile.pro_pic.url}}"
                        alt="team image"
                        width="270" height="249"
                      />
                    </div>
                    <div class="team__hover__info">
                      <ul class="team__social__link">
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fa fa-twitter"></i
                          ></a>
                        </li>

                        <li>
                          <a href="#" target="_blank"
                            ><i class="fa fa-instagram"></i
                          ></a>
                        </li>

                        <li>
                          <a href="#" target="_blank"
                            ><i class="fa fa-facebook"></i
                          ></a>
                        </li>

                        <li>
                          <a href="#" target="_blank"
                            ><i class="fa fa-google-plus"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="team__details">
                    <h2><a href="#">{{profile.full_name}}</a></h2>
                    <h4>{{profile.deg}}</h4>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- End Single Team -->
            </div>
          </div>
        </div>
        <div class="text__shape">
          <h2>TEAM</h2>
        </div>
      </section>


{% endblock content %}
