{% extends 'base.html' %}
{% block content %}
{% load static %}
    {% for mainlogo in mainlogo %}
        <div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url({{mainlogo.main_logo.url}}) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-bottom">
                                <h2 class="bradcaump-title">About Us</h2>
                                <nav class="bradcaump-inner">
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <!-- Start Latest Project Area -->
        <section class="htc__latest__project__area ptb--150 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-8 col-xs-8">
                        <div class="htc__page__sidebar">
                			<!-- Start Single -->

                			<div class="htc__category bg__gray">
                				<h2 class="sidebar__title">Project Category</h2>
                                {% for category in category %}
                				<ul class="cat__list">
                					<li><a href="#">{{category.category_title}}</a></li>
                				</ul>
                                {% endfor %}
                			</div>

                		</div>
                	</div>
                    <div class="htc__latest__project__wrap clearfix">
                        <!-- Start Single Project -->
                        {% if projects %}
                        {% for project in projects %}
                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 smt-40 xmt-40">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="single-project.html">
                                        <img src="{{project.project_image.url}}" alt="project images">
                                        <h5><a href="blog-details.html">{{project.project_title}}</a></h5>
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h><a href="single-project.html">{{project.project_category}}</a></h>
                                            <h4>{{project.project_title}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
                        {% else %}
                        <div>
		                <h2>No result found. Please try again.</h2>
	                    </div>
	                    {% endif %}

                        <!-- End Single Project -->
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}