{% extends 'base.html' %}
{% block content %}
{% load static %}
    {% for mainlogo in mainlogo %}
        <div class="ht__bradcaump__area" data--black__overlay="2" style="background: rgba(0, 0, 0, 0) url({{mainlogo.main_logo.url}}) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-bottom">
                                <h2 class="bradcaump-title">Services</h2>
                                <nav class="bradcaump-inner">
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <!-- End Bradcaump area -->
        <!-- Start Blog Area -->
        <section class="htc__blog__details__page ptb--150 bg__white">
            <div class="container">
                <div class="row">
                	<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                		<div class="htc__page__sidebar">
                			<!-- Start Single -->

                			<div class="htc__category bg__gray">
                				<h2 class="sidebar__title">Services</h2>
                                {% for service in services %}
                				<ul class="cat__list">
                					<li><a href="#">{{service.service_title}}</a></li>
                				</ul>
                                {% endfor %}
                			</div>

                		</div>
                	</div>
                    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 smt-40 xmt-40">
                        {% for service in single_services %}
                        <div class="htc__single__service">

                            <div class="htc__single__service__tab">
                                <div class="ht-portfolio-pic-show">
                                    <div class="ht-portfolio-full-image tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                                            <img src="{{service.service_image.url}}" alt="full-image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="htc__service__dtl">
                                <!-- Start Single Service -->
                                <div class="htc__ser__dtl">
                                    <h2 class="title__line--4">{{service.service_title}}</h2>
                                    <p> {{service.service_content|safe}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}